{% extends "base.html" %}

{% block content %}
<div class="center-container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Курс "Промышленное программирование"</h5>
            <h6 class="card-subtitle mb-2 text-muted">Занятие N</h6>
            <p class="card-text">Тема: "Знакомство с Django"</p>
            <p class="card-text">Сегодня <span id="current-date"></span></p>
        </div>
    </div>
</div>

<script>
    document.getElementById('current-date').textContent = new Date().toLocaleDateString('ru-RU');
</script>
{% endblock %}

